<h2>Soal 1: Hello World to Python</h2>
    
Print Say Hello World to Python

In [1]:
print ("Hello World Python")

Hello World Python

Expected Output : 

Hello World Python

<h2>Soal 2: Aritmatika di Python </h2>
    
- Buat statement pertambahan antara 2 number di Python
- Buat statement perkurangan antara 2 number di Python
- Buat statement perkalian antara 2 number di Python
- Buat statement pembagian antara 2 number di Python

In [8]:
a = 3+2;
b = 3-2;
c = 3*2;
d = 3/2;

print (a,";",b,";",c,";",d)
print ("Pertambahan antara 3 dan 2 adalah", a)
print ("Pengurangan antara 3 dan 2 adalah", b)
print ("Perkalian antara 3 dan 2 adalah", c)
print ("Pembagian antara 3 dan 2 adalah", d)

5 ; 1 ; 6 ; 1.5
Pertambahan antara 3 dan 2 adalah 5
Pengurangan antara 3 dan 2 adalah 1
Perkalian antara 3 dan 2 adalah 6
Pembagian antara 3 dan 2 adalah 1.5

<h2>Quiz 3: Assign Variable dan Tipe Data Integer, Float </h2>

- Buat suatu variabel a dan b, dimana a dan b adalah nilai bertipe data numeric
- Berikan suatu nilai bertipe data integer, hasil pembagian dari a dengan b
- Berikan suatu nilai bertipe data float, hasil pembagian dari a dengan b

In [50]:
a = 7;
b = 3;
c = int(a*b)
d = float(a/b)

print("Perkalian antara 7 dan 3 menghasilkan %d"% (c))
print("Pembagian antara 7 dan 3 menghasilkan",d) #for rounding round(number, signf_numb)

Perkalian antara 7 dan 3 menghasilkan 21
Pembagian antara 7 dan 3 menghasilkan 2.3333333333333335

<h2>Soal 4: String Operation </h2>

- masukan nama depan kamu kedalam suatu variable firstname
- masukan nama belakang kamu kedalam suatu variable lasname
- tampilkan suatu kalimat 'Hello sanbercode, saya firstname lastname! saya siap belajar python data science.'

In [2]:
first = "Permen"
last = "Kapas"
print (f"Hello Sanbercode, saya {first} {last}! saya siap belajar python data science")

#kode lain
#print ("Hello Sanbercode, saya %s %s! saya siap belajar python data science"%(first,last))

Hello Sanbercode, saya Permen Kapas! saya siap belajar python data science

Expected Output :

Hello sanbercode, saya fauzan taufik! saya siap belajar python data science.

<h2>Soal 5: Tipe Data</h2>

Lengkapi code di bawah ini untuk menghasilkan output yang sesuai

In [53]:
p = 9.99999
q = "the number: "
print(q + str(p))

the number: 9.99999

Expected Output :

the number: 9.99999